body {
    background: linear-gradient(-45deg, #0000ff, #ff00ff, #ff69b4);
    height: 100vh;
    margin: 0;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

button {
    background-color: #ff00ff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0000ff;
}

@media (max-width: 600px) {
    .container {
        width: 80%; /* Ajuste para pantallas móviles */
        max-width: none;
    }
}