body {
    background: linear-gradient(-45deg, #c1e1c1, #d6e0f0, #f2d2d2);
    height: 100vh;
    margin: 0;
    overflow: auto;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    color: #0073e6;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    margin: 10px; /* Agregar margen para mejor visualización */
}

button {
    background-color: #0073e6;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005bb5;
}

@media (max-width: 600px) {
    .container {
        width: 90%; /* Ajuste para pantallas pequeñas */
        max-width: none;
        padding: 15px;
    }

    h1 {
        font-size: 2em;
    }
}