/* Estilo para el fondo */
body {
    background: #1e1e1e; /* Color de fondo oscuro */
    font-family: 'Helvetica Neue', sans-serif;
    color: #f5f5f5; /* Texto claro para buen contraste */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #3b5998, #8b9dc3); /* Gradiente azul */
    z-index: -1;
}

/* Estilo para el contenido */
.content {
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 32px;
    margin-bottom: 15px;
    color: #ffd700; /* Color dorado para resaltar */
}

p {
    font-size: 20px;
    margin-bottom: 30px;
}

#countdown {
    font-size: 26px;
    font-weight: bold;
    color: #32cd32; /* Color verde para resaltar */
    background: #444;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}

footer {
    font-size: 14px;
    color: #999;
    padding-top: 20px;
    text-align: center;
}