/*--v3.4.8--*/
* {
    color: rgb(225,225,225);
    text-shadow: 1px #000;
}
body {
    font-family: Lato;
    height: 100vh;
    min-height: 100vh;
    overflow: auto;
}
/*Titulo*/
h1 {
    font-size: 24px;
    text-align: center;
}
.neon-div {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.neon-div:hover {
    background-color: #00ff00;
    color:#000;
}
/*--hr--*/
hr {
    opacity: .5;
    border-color: rgb(0,0,0,.5);
}
/*--Button--*/
button {
    background: none;
    border: none;
}
/*--a--*/
a.menu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    text-decoration: none;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
}
.my-button {
    border-width: 4px;
    border-style: solid
}
.my-button:hover,
.my-button:focus {
    border-color: #f00;
}