body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.neon-div {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.neon-div:hover {
    background-color: #00ff00;
}